<div class="card d-flex flex-row align-items-center p-2">
  <img
    src="{{ product.imageUrl }}"
    alt="{{ product.name }}"
    class="card-img-left"
    style="width: 100px; height: 100px; object-fit: cover; margin-right: 16px"
  />
  <div class="flex-grow-1">
    <a class="mb-1" routerLink="/products/{{ product.id }}">{{ product.name }}</a>
    <p class="mb-1 font-bold ">{{ product.price | currency }}</p>
    <div class="d-flex align-items-center mb-1">
      <button
        (click)="decrementQuantity()"
        class="btn btn-sm btn-outline-secondary me-2"
      >
        -
      </button>
      <span>{{ quantity }}</span>
      <button
        (click)="incrementQuantity()"
        class="btn btn-sm btn-outline-secondary ms-2"
      >
        +
      </button>
    </div>
  </div>
  <button (click)="removeProduct()" class="btn btn-danger ms-3">
    Remove
  </button>
</div>
